<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuizManager</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/main.css" />
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <div class="container">
        @RenderBody()
        <div class="container__image"></div>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
