@import '../01-settings/settings';

.login {
    &__container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        max-height: 400px;
        max-width: 600px;
        background-color: $color-primary;
        padding: 15px;
        border-radius: 15px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.08);
        text-align:center;
    }

    &__label {
        display: block;
        margin: 10px 3px 3px 3px;
    }

    &__input {
        border: none;
        border-bottom: solid 1px #ffffff;
        background-color: transparent;
        color: #ffffff;
        margin-bottom: 10px;
        padding: 5px;
    }

    &__button {
        background-color: $color-tertiary;
        font-size: 18px;
        margin: 10px;
        padding: 8px 25px;
        border: none;
        border-radius: 4px;
        color: #ffffff;

        &:hover {
            cursor: pointer;
            background-color: $color-secondary;
        }
    }
}