@import '../01-settings/settings';

.edit-question {
    &__header {
        text-align: center;

        &--heading {
            padding-top: 15px;
            font-size: 22px;
        }

        &--sub-heading {
            margin-top: 5px;
            font-size: 18px;
        }

        &--nav {
            position: absolute;
            top: 20px;
            right: 20px;
            display: flex;
            width: 100px;
            justify-content: space-evenly;
        }
    }

    &__container {
        max-width: 750px;
        margin: 20px auto;
        background-color: #ffffff;
        color: $color-secondary;
        border-radius: 5px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.08);
        display: block;
        padding: 20px;
    }

    &__label {
        margin: 10px 0 5px 0;
        display: block;
        font-weight: bold;
        font-size: 16px;
    }

    &__input {
        display: block;
        border: 1px solid $color-secondary;
        border-radius: 6px;
        height: 30px;
        font-size: 16px;
        margin-top: 5px;
    }

    &__button {
        text-align: center;
        background-color: $color-primary;
        font-size: 18px;
        margin: 10px 0;
        padding: 5px 15px;
        border: none;
        border-radius: 4px;
        color: #ffffff;

        &:hover {
            cursor: pointer;
            background-color: $color-secondary;
        }
    }
}
