@model QuizManager.Models.AllQuizzesModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Home</h1>

<div>
    @foreach (var quiz in Model.Quizzes)
    {
        <div>
            <p>@quiz.Title</p>
            <a href="/Quiz/@quiz.Id">Try quiz</a>
        </div>
    }
</div>

